.header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 283px;
  margin: 0 auto;
  padding-top: 61px;
  max-width: 1200px;
}

.header h2 {
  padding-top: 7px;
  font-size: 60px;
  font-weight: 400;
  line-height: 89px;
  text-align: center;
}

.main {
  margin: 58px 0;
}

.panels {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 40px;
  margin: 0 auto;
  max-width: 786px;
}

.group__name {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.group__name input[type="text"] {
  display: block;
  padding: 15px 0 16px 10px;
  border: 1px solid transparent;
  border-radius: 0;
  outline: none;
}

.group__name input[type="text"]::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.group__name input[type="text"]:focus {
  outline: 2px solid green;
}
