.main h2 {
  margin: 7px 0 33px;
  font-size: 70px;
  font-weight: 400;
  line-height: 104px;
  text-align: center;
}

.description {
  margin: 0 auto;
  max-width: 996px;
  background: url("./img/icon-ellipse-bsg.svg") no-repeat center/contain;
}

.description p {
  max-width: 755px;
  margin: 0 auto;
  padding: 93px 0 37px;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
}
