.room {
  /* display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0 40px; */
  display: grid;
  gap: 40px;
  /* grid-auto-flow: column; */
  grid-template-columns: repeat(auto-fit, minmax(auto, 1000px));
}

.room15 {
  background: url("../../../public/img/room/room15.jpeg") no-repeat center /
    cover;
  /* display: grid; */
  /* grid-template: minmax(auto, 600px) / minmax(auto, 900px); */
  /* min-width: 900px;
  height: 600px; */
  /* flex-basis: 1000px; */
  /* flex: 0 1 auto; */
  /* flex-shrink: 0; */
  border: 1px double #f31616;
  border-radius: 5px;
}

.parts {
  /* display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 600px; */
  display: grid;
  grid-template: repeat(auto-fit, minmax(auto, 200px)) / repeat(
      auto-fit,
      minmax(auto, 200px)
    );
  text-align: center;
  border: 1px double #f31616;
  border-radius: 5px;
}

.room__body {
  display: inline-block;
  cursor: grab;
}

/* .btn {
  position: absolute;
  top: 0;
  right: 0;
} */

.drop__area {
  width: 400px;
  height: 400px;
  border: 5px dashed black;
  display: flex;
  align-items: center;
  justify-content: center;
}
