.content__block {
  margin: 0px 0px 0px 400px;
}

.flip__body {
  display: flex;
  position: relative;
  width: 150px;
  height: 150px;
  transition: all 1s ease 0s;
  transform-style: preserve-3d;
}
.flip__front,
.flip__back {
  /* position: absolute; */
  /* width: 100%;
  height: 100%; */
  /* top: 0;
  left: 0; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.flip__front {
  /* transform: scale(1); */
  /* transform: rotateY(0deg); */
  transition: all 1s ease 0s;
  transform-style: preserve-3d;
}
.flip__back {
  transform: rotateY(180deg);
  transition: all 1s ease 0s;
  /* transform-style: preserve-3d; */
}
