.room {
  display: grid;
  margin: auto;
  justify-content: space-between;
  grid-template: 1fr 1fr / repeat(auto-fit, 600px);
  width: 1300px;
}

.room15 {
  background: url("../../../public/img/monster/img/frame 3.png") no-repeat
    center / cover;
}

.parts {
  display: grid;
  grid-template: repeat(auto-fit, minmax(auto, 100px)) / repeat(
      auto-fit,
      minmax(auto, 100px)
    );
  text-align: center;
  border: 2px solid rgba(210, 18, 73, 0.9);
}

.title {
  margin-bottom: 80px;
  font-weight: 400;
  text-align: center;
  background-color: rgba(252, 176, 69, 1);
  background-image: linear-gradient(
    90deg,
    rgba(210, 18, 73, 0.9) 22%,
    rgba(251, 252, 69, 1) 100%
  );
  background-clip: text;
  color: transparent;
}

.room__body {
  display: inline-block;
  cursor: grab;
}

/* .btn {
  position: absolute;
  top: 0;
  right: 0;
} */

.drop__area {
  width: 400px;
  height: 200px;
  border: 5px dashed #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}

.show {
  display: grid;
  grid-column: 2 / 3;
  grid-template: repeat(auto-fit, minmax(auto, 100px)) / repeat(
      auto-fit,
      minmax(auto, 90px)
    );
  border: 2px solid rgba(210, 18, 73, 0.9);
  padding: 20px;
  row-gap: 20px;
  overflow-y: auto;
}

.show__btn {
  display: block;
  margin: 30px auto;
}

.monster__folder {
  background: url("../../../public/img/folder.png") center no-repeat;
  background-size: cover;
}
